@using AimPoint30.Entities.Model
@using AimPoint30.Entities.ViewModels
@using AimPoint30.Controllers;


@{
    ViewData["Title"] = "Home";
    
    ViewBag.Title = "Home";
}


<div class="container text-center" style="background-color:rgba(255,255,255,0.6);margin-top:37px;border-radius:20px">
        
    <h1 class="display-4 fw-bold" style="padding:30px;color:black;"> Bem Vindo </h1>

    
        
</div>
