@using AimPoint30.Entities.Model
@using AimPoint30.Entities.ViewModels
@using AimPoint30.Controllers;


@{
    ViewData["Title"] = "Home";
    
    ViewBag.Title = "Home";
}


<div class="container text-center" style="background-color:rgba(255,255,255,0.6);margin-top:37px;border-radius:20px">
        
    <h1 class="display-4 fw-bold" style="padding:30px;color:black;"> Bem Vindo </h1>
    <p class="h3" style="padding-top:20px;color:rgba(90,70,0,1)"> 
        Para acessar as funcionalidades desta aplicação
        basta abrir o menu <mark class="h5" style="background-color:black;color:white"> <i class="fa fa-light fa-table"></i> Resgistros</mark> 
         no cabeçalho, como demonstrado na imagem abaixo.
    </p>
    <img src="/icons/ImageHome1.png" style="padding-bottom:40px;border-radius:10px"/>

    
        
</div>
